
<p>this is game-component</p>

{{!-- <p>currentdogi</p>
{{currentDogIndex}}
<p>currentdog name</p>
{{currentDog.name}}
<p>questions length</p>
{{questions.length}} --}}

<p>Score correct: x/{{questions.length}}</p>
{{score}}
{{question-component question=currentQuestion submit=(action 'submit') dogs=dogs}}
{{yield}}