<p>Score correct: {{score}}/{{questions.length}}</p>

{{#if showEndOfGame}}
  {{end-of-game finalScore=score numOfQuestions=questions.length}}
{{else}}
  {{question-component question=currentQuestion submit=(action "submit") answers=answers}}
{{/if}}
{{yield}}